9:# Ядерный туннель AmneziaWG (см. amneziawg.te)
10:/(system_ext|system/system_ext)/bin/awg-tunnel\.sh         u:object_r:amneziawg_exec:s0
11:/data/misc/amneziawg(/.*)?                                 u:object_r:amneziawg_data_file:s0
