<!--
  ~ Copyright © 2017-2023 WireGuard LLC. All Rights Reserved.
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- athena: объявление GoBackend$VpnService убрано.
         Туннель у нас ядерный (netdev awg0), VpnService никто не поднимает,
         а объявленный сервис заставлял систему предлагать постоянный VPN и
         затем показывать "отключено от постоянного VPN". Значка VPN всё равно
         не было: он появляется только у настоящего VpnService. -->
    <application />
</manifest>
